* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b0c4de;
}

header {
  text-align: center;
  margin: 7px;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: max-content;
  min-height: 60px;
}

#githubicon {
  position: absolute;
  top: 20px;
  right: 6vw;
  width: 70px;
  height: 70px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
  border-radius: 30px;
}

#githubicon:hover {
  transform: translateY(-5px);
  background-color: azure;
}

#homeIcon {
  position: absolute;
  top: 20px;
  left: 6vw;
  width: 70px;
  height: 70px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
}

#homeIcon:hover {
  transform: translateY(-5px);
}

h1 {
  margin: 10px;
}

p {
  margin: 3px;
}

#gameBoard_UI {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: brown;
}

.cell {
  background-color: rgba(0, 154, 22, 0.7);
  font-size: 8px;
}

.x-small_cell {
  height: 18px;
  width: 18px;
  border: 1px transparent solid;
  font-size: 5px;
}

.small_cell {
  height: 20px;
  width: 20px;
  border: 1px transparent solid;
  font-size: 6px;
}

.medium_cell {
  height: 24px;
  width: 24px;
  border: 1px transparent solid;
  font-size: 7px;
}

.large_cell {
  height: 28px;
  width: 28px;
  border: 1px transparent solid;
  font-size: 8px;
}

.start {
  background-color: firebrick;
}

.end {
  background-color: blue;
}

.wall {
  background-color: black;
}

.startHighlight {
  background-color: firebrick;
}

.endHighlight {
  background-color: blue;
}

.wallHighlight {
  background-color: black;
}

.hidden {
  display: none;
}

.notShown {
  visibility: hidden;
}

.bad {
  color: red;
}

input:not([type]),
input[type="text"] {
  width: 40px;
  height: 30px;
  text-align: center;
  margin-right: 2px;
  font-size: 1em;
}

button {
  width: 90px;
  height: 35px;
  margin-left: 7px;
  margin-right: 7px;
}

.shadowBox {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textInputLabel {
  margin-left: 7px;
  margin-right: -8px;
}

.end {
  background-color: navy;
}

/* .path {
    background-color: gold;
  } */

.visited {
  background-color: rgba(57, 255, 20, .2);
}